ShoppingApp/ios/ShoppingApp/AppDelegate.swift
ShoppingApp/ios/ShoppingApp.xcworkspace/contents.xcworkspacedata
ShoppingApp/.prettierrc.js
ShoppingApp/.watchmanconfig
ShoppingApp/__tests__/App.test.tsx
ShoppingApp/android/app/build.gradle
ShoppingApp/android/app/debug.keystore
ShoppingApp/android/app/proguard-rules.pro
ShoppingApp/android/app/src/main/AndroidManifest.xml
ShoppingApp/android/app/src/main/java/com/shoppingapp/MainActivity.kt
ShoppingApp/android/app/src/main/java/com/shoppingapp/MainApplication.kt
ShoppingApp/android/app/src/main/res/drawable/rn_edit_text_material.xml
ShoppingApp/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
ShoppingApp/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
ShoppingApp/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
ShoppingApp/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
ShoppingApp/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
ShoppingApp/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
ShoppingApp/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
ShoppingApp/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
ShoppingApp/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
ShoppingApp/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
ShoppingApp/android/app/src/main/res/values/strings.xml
ShoppingApp/android/app/src/main/res/values/styles.xml
ShoppingApp/android/build.gradle
ShoppingApp/android/gradle.properties
ShoppingApp/android/gradle/wrapper/gradle-wrapper.jar
ShoppingApp/android/gradle/wrapper/gradle-wrapper.properties
ShoppingApp/android/gradlew
ShoppingApp/android/gradlew.bat
ShoppingApp/android/settings.gradle
ShoppingApp/app.json
ShoppingApp/App.tsx
ShoppingApp/babel.config.js
ShoppingApp/Gemfile
ShoppingApp/index.js
ShoppingApp/ios/.xcode.env
ShoppingApp/ios/Podfile
ShoppingApp/ios/Podfile.lock
ShoppingApp/ios/ShoppingApp.xcodeproj/project.pbxproj
ShoppingApp/ios/ShoppingApp.xcodeproj/xcshareddata/xcschemes/ShoppingApp.xcscheme
ShoppingApp/ios/ShoppingApp/Images.xcassets/AppIcon.appiconset/Contents.json
ShoppingApp/ios/ShoppingApp/Images.xcassets/Contents.json
ShoppingApp/ios/ShoppingApp/Info.plist
ShoppingApp/ios/ShoppingApp/LaunchScreen.storyboard
ShoppingApp/ios/ShoppingApp/PrivacyInfo.xcprivacy
ShoppingApp/jest.config.js
ShoppingApp/metro.config.js
ShoppingApp/package-lock.json
ShoppingApp/tsconfig.json
ShoppingApp/.eslintrc.js
ShoppingApp/android/app/debug.keystore
ShoppingApp/android/app/debug.keystore
